* {
  margin: 0;
}
.app {
  background-color: #fafafa;
}
.app__header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
}
.app__headerLogo {
  object-fit: contain;
}
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__postsRight {
  padding-left: 20px;
}
.app__signup {
  display: flex;
  flex-direction: column;
}